<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="opened=!opened">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Java Coffe Painel</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <a routerLink=""><mat-list>Home <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></mat-list></a>
    <a routerLink="produtos"><mat-list>Produtos  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="coffee"></mat-icon></mat-list></a>
    <a routerLink="produtos/new"><mat-list>Novo produto  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="coffee"></mat-icon></mat-list></a>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
