<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="opened=!opened">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Java Coffe Painel</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-list><a routerLink="/">Home </a><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></mat-list>
    <mat-list><a routerLink="/produtos">Produtos </a> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="coffee"></mat-icon></mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
