table {
  width: 100%;
}
.loading-spinner{
  padding: 25px;
  background: rgba(0,0,0,0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagem{
  width: 50px;
  height: 50px;
}
