<mat-card class="example-card" appearance="outlined">
    <mat-card-content>

    <mat-toolbar color="primary">Novo item</mat-toolbar>

    <form [formGroup]="form" class="min-width">

    <!-- Nome Column -->
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome: " formControlName="nome">
        <mat-error *ngIf="form.get('nome')?.invalid">{{getErrorMessage('nome')}}</mat-error>
      </mat-form-field>

      <!-- Descrição Column -->
      <mat-form-field class="full-width">
        <input matInput placeholder="Descricao: " formControlName="descricao">
        <mat-error *ngIf="form.get('descricao')?.invalid">{{getErrorMessage('descricao')}}</mat-error>
      </mat-form-field>

      <!-- Preco Column -->
      <mat-form-field class="full-width">
        <input matInput placeholder="Preco: " formControlName="preco">
        <mat-error *ngIf="form.get('preco')?.invalid">{{getErrorMessage('preco')}}</mat-error>
      </mat-form-field>

      <!-- Imagem Column -->
      <mat-form-field class="full-width">
        <input matInput placeholder="Imagem: " formControlName="imagem">
        <mat-error *ngIf="form.get('imagem')?.invalid">{{getErrorMessage('imagem')}}</mat-error>
      </mat-form-field>

      <!-- Categoria Column -->
      <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoria">
          <mat-option value="Bebida">Bebida</mat-option>
          <mat-option value="Lanche">Lanche</mat-option>
          <mat-option value="Duplo">Duplo</mat-option>
        </mat-select>
        <input matInput placeholder="Categoria: " formControlName="categoria">
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-flat-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>

</mat-card>
